.shop-present{
    border-radius: 15px;
}

.btn-presantation{
    width: 160px;
}

.shop-present h2{
    padding-bottom: 10px;
    border-bottom: 1px dotted #999;
}

.whyUs{
    margin: 30px 0px;
    text-align: center;
}

.whyUs span{
    height: 10px;
    border-radius: 20px;
    background: #ff4400bf;
}

.whyUs span:nth-child(1){
    background: #0b3ee79b;
}

.cartDetalis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px #1b1b1bc9;
    margin: 10px;
}

.cartDetalis-info{
    text-align:center;
}

.cartDetalis-info p{
    border-top: 1px solid #999;
}

.imgSlider{
    height: 450px;
    border-radius: 20px;
}

.titleSlider{
    height: 50px;
    border-radius: 20px;
    line-height: 40px;
    border: 1px solid #333;
    background: #00000082;
    color: #fff;
    transition: all 1s;
}

.titleSlider:hover{
    cursor: pointer;
    background: #000000a8;
    transform: scale(1.2) rotateY(-45deg);
}

.sliderTitr{
    background:-moz-linear-gradient(20deg, #0078FFE6 0%, #A000A0D4 100%); 
    background:-webkit-linear-gradient(20deg, #0078FFE6 0%, #A000A0D4 100%);
    background:-o-linear-gradient(20deg, #0078FFE6 0%, #A000A0D4 100%);
    background:linear-gradient(20deg, #0078FFE6 0%, #A000A0D4 100%);
    text-align: center;
    color: #fff;
    padding: 10px;
    border-radius: 12px;
    letter-spacing: 2px;
    font-weight: bold;
}